# js modules
node_modules/

# the cloned git "data" repo used as database
.db-github-data/

# generated sqlite3 database (& recovory) files
.db-sqlite/*.db
.db-sqlite/*.db-journal
.db-duckdb/*.duckdb
.db-duckdb/*.duckdb.wal
.db-duckdb/*.db
.db-duckdb/*.db.wal
.db-duckdb/*.parquet
.db-duckdb/temp_*

# the artifacts for gitlab ci
public/

# the file with the keys
.env*
!.env.example

# emacs debugger server logs
.log/

# macOS

.DS_Store
