# js modules
node_modules/

# the cloned git "data" repo used as database
.db/

# generated sqlite3 database (& recovory) files
joblist.db
joblist.db-journal

# the artifacts for gitlab ci
public/

# the file with the keys
.env*
!.env.example

# emacs debugger server logs
.log/

# macOS

.DS_Store